# Dependencies
node_modules/
package-lock.json

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Logs
logs
*.log
npm-debug.log*

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp 